<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>核对订单</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico"> <link href="__INDEX__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__INDEX__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">

    <!-- Data Tables -->
    <link href="__INDEX__/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <link href="__INDEX__/css/animate.min.css" rel="stylesheet">
    <link href="__INDEX__/css/style.min862f.css?v=4.1" rel="stylesheet">
    <link href="__INDEX__/css/style.min862f.css?v=4.1" rel="stylesheet">
    <script src="__INDEX__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__INDEX__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__INDEX__/js/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="__INDEX__/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="__INDEX__/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="__INDEX__/js/content.min.js?v=1.0.0"></script>
    <script src="__INDEX__/js/plugins/layer/laydate/laydate.js"></script>
    <script src="__INDEX__/layer/layer.js"></script>
    <link rel="stylesheet" type="text/css" href="__INDEX__/layui2/css/layui.css">
    <script type="text/javascript" src="__INDEX__/layui2/layui.js"></script>
</head>
<body>
<div style="margin-top: 83px ;margin-left: 82px;">
    物流公司：{empty name="info.logistics_name"}
       无
    {else /}
    {$info['logistics_name']}
    {/empty}
</div>
<div style="    margin: 10px 82px;">

   寄送订单编号：{empty name="info.return_num"}
    无
    {else /}
    {$info['return_num']}
    {/empty}
</div>
<a class="btn btn-primary btn-rounded" style=" border-radius: 4px;margin-left: 96px;"   onclick="update_slidestatus(this)" data-status="2" data-id="{$info['id']}">同意退款</a>
<a class="btn btn-primary btn-rounded" style=" border-radius: 4px;margin-left: 69px;"   onclick="quxiao(this)">取消</a>
</body>
<script>
    //同意退款 退货
    function update_slidestatus(update_slidestatus){
        var id = $(update_slidestatus).attr('data-id');
//        var status = $(update_slidestatus).attr('data-status');
        var str = $(update_slidestatus).text();
//        alert(str);
        layer.msg("是否"+str, {
            time: 0 //不自动关闭
            ,btn: ['确认', '取消']
            ,yes: function(index){
                layer.close(index);
                $.ajax({
                    url: '{:url("refunds/upstatus")}',
                    data: {
                        id:id,status:2
                    },
                    dataType: "json",
                    type: "post",
                    success: function(data) {
                        console.log(data);
                        if(data.code==1){
                            layer.msg('操作成功',{icon: 1, shift: 6},function () {
                                window.parent.location.reload();
//                                window.location.href = "{:url('refunds/index')}";
                            });

                        }else{
                            layer.msg(data.msg,{icon: 2, shift: 6});
                        }
                    }
                });
            }
        });

    }
    //取消添加
    function quxiao(){
        window.parent.location.reload();
    }
</script>
</html>